<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder file-encoding="utf-8" location="classpath*:properties/project.properties"/>

    <context:component-scan base-package="com.jiangwei.distributework"/>

    <import resource="classpath*:spring_job.xml"/>
    <import resource="classpath*:spring_service.xml"/>
</beans>